[2014-08-24 02:59] ajit555 opened #4 "Please add dockerfiles for Hadoop components"
Hi,

I am not able to run hadoop components from the docker file as detailed below:

https://github.com/sequenceiq/hadoop-docker/issues/8

The above docker file is running good in TinyCore64 distribution but not in CentOS 7. Can you please help.

Thanks.

[2014-09-27 12:53] jzb opened #7 "License for new Dockerfiles?"
I notice most (all?) of the Dockerfiles here are GPLv2, inherited from the Fedora Dockerfiles repo. I'm not seeing any contributing guidelines, so I'm wondering whether that's required for new Dockerfiles? If someone wants to contribute a Dockerfile under ASL 2.0, is that acceptable? (While I <3 the GPLv2, it may not be the best license for something like this.)

[2014-09-27 21:44] jzb opened #8 "ownCloud Dockerfile"
I think the ownCloud Dockerfiles are going to need some work, perhaps may not want to include them at this time. AFAICT, ownCloud isn't packaged for CentOS (though it is for Fedora). Most of the tutorials I've found online are about just grabbing packages or source from third parties.

[2014-10-12 16:58] jbrains opened #10 "Building wordpress/centos7 fails because /var/www/html does not exist"
I'm a Docker idiot, so forgive me. I'm just trying to follow the README for wordpress/centos7.

I'm working on Mac OS 10.9.5 and using docker 1.2.0/fa7b24f with boot2docker 1.2.0/a551732.

I do this:

[code]

and it eventually fails like this:

[code]

I poked around and found that `/var/www` doesn't exist, let alone `/var/www/html`.

I have no idea. Thanks.

[2014-10-12 17:21] jbrains opened #11 "Building wordpress/centos6 fails because of file permission errors"
After failing to build wordpress/centos7 (see https://github.com/CentOS/CentOS-Dockerfiles/issues/10) I wanted to see whether I could build wordpress/centos6. I can't.

I'm working on Mac OS 10.9.5 and using docker 1.2.0/fa7b24f with boot2docker 1.2.0/a551732.

I do this:

[code]

and it eventually fails like this:

[code]

I have no idea. Thanks.

[2014-10-13 19:47] #11 closed, assigned to nobody

[2014-11-10 02:35] r4j4h opened #15 "unicon error `ImportError: No module named wsgi` on startup through registry/centos6 Dockerfile"
As the title says, just starting unicorn up inside a container from the registry/centos6 image causes unicorn to barf and fail to start. My first instinct is perhaps a dependency changed and it's a temporary versioning problem, or else there's some extra config (perhaps through environment variables as `/etc/docker-registry.yml` suggests?) that I am missing, but I haven't spent much time debugging

[2014-11-20 08:52] FractalizeR opened #17 "DELETED"
DELETED

[2014-11-20 14:31] #17 closed, assigned to nobody

[2014-11-26 07:41] buley opened #18 "Request for cron implementation"
@jperrin I'm struggling to get a basic cron service running on `centos:latest`

I thought this would do it, but the cron process "just hangs" and I can't see anything by tailing /var/log/cron or redirecting output from an individual cron task. I'm used to using the service command, and while I feel like I got close to a recipe I'm not making much progress on my own. I've found a supervisord implem

[2014-12-03 00:47] arun-gupta opened #19 "Start WildFly in Full Platform instead of Web Profile"
WildFly, by default, starts in Web Profile. This means the technologies that are from the Java EE 7 Full Platform, such as JMS and Batch, cannot be used.

A sample to start WildFly in Full Platform mode is shown at:

https://github.com/arun-gupta/docker-images/blob/master/wildfly-centos/Dockerfile

[2015-01-13 21:01] web-snake opened #20 "Django Dockerfile for CentOS 7 fails to build"
Following the instructions from : https://github.com/CentOS/CentOS-Dockerfiles/tree/master/Django/centos7
to build the Django Dockerfile
I'm getting the following error:
Invalid namespace name (), only [a-z0-9_] are allowed, size between 4 and 30
I'm new to Docker and just trying to get a working example going so its possible that I'm doing something very stupid. But the instructions are so simple

[2015-01-13 21:16] jperrin commented on #20
There is a docker bug that doesn't allow you to create tagged names. instead of following the documentation exactly for `docker build -rm -t /django:centos7` try something like `docker build -rm -t django/centos7`

[2015-01-13 22:30] web-snake commented on #20
$ docker build -rm -t django/centos7 .
worked. Thanx.

[2015-01-13 22:30] #20 closed

[2015-01-21 08:51] michalsarna opened #21 "Missing path to "/bin" in $PATH for CentOS 6 docker image."
As in topic.
I'm using CentOS 6 for my base and from some time (2-3 weeks) i've noticed that there is no "/bin" in $PATH.

[2015-01-21 14:29] jperrin commented on #21
There would be something in how you're building your containers that's altering the $PATH, or an init script that's resetting it for your service. By default, you get

[code]

And the output of `strings /bin/bash` from inside the container shows `/usr/local/bin:/bin:/usr/bin` (it's the basic path compiled into bash by default)

[2015-01-21 14:30] jperrin commented on #21
If you point me to what you're doing, I can help you figure out what's going on.

[2015-01-26 12:08] michalsarna commented on #21
Hi.

I've figured it out. On my systems when I'm logging as root it's not working, no "/bin" in $PATH.
If I'm using any other user account and go sudo to root it's working.
Sorry for disturbance.

All best.

[2015-01-26 12:08] #21 closed

[2015-01-30 15:42] rahulpatil323 opened #22 "Firefox/centos6 cannot be built using docker build"
When I try to build the container for https://github.com/CentOS/CentOS-Dockerfiles/tree/master/firefox/centos6

It fails with the following error:

Step 9 : RUN chmod -v +x /.vnc/xstartup
 ---> Using cache
 ---> dd019e57c173
Step 10 : RUN sed -i '/\/etc\/X11\/xinit\/xinitrc-common/a [ -x /usr/bin/firefox ] && /usr/bin/firefox &' /etc/X11/xinit/xinitrc
 ---> Running in bd0db741d712
sed: can't read

[2015-02-05 20:40] buley commented on #18
User error - apparently my cron was failing because roon crontab vs. user crontab formatting. Root crontab requires a username before the command, whereas non-root does not.

[2015-02-05 20:40] #18 closed

[2015-05-05 18:53] carylewis opened #24 "wordpress centos 6 - container exits when restarted"
The start.sh script calls __check, which exits if the wp-config.php file exitsts, but doesn't that mean that the __run_supervisor() function is never called?

Can someone explain how this is supposed to work? Once the container is run, how do you stop / restart it?

[2015-05-06 18:46] carylewis commented on #24
I updated the start.sh - and repalced the exit in __check with __run_supervisor() and now it works as expected.

[2015-05-07 22:47] Tim-HU opened #25 "default root password in various scenarios"
This is regarding Docker official Centos6 and Centos7 images

There are 3 separate questions:
(1) When started using "docker RUN centos", what is the root password and how to find it?
(2) When started from a derived image (image derived from offical docker centos via using Dockerfile FROM entry) , what is the root password and how to find it?
(3) In both cases, if the answer is "you need to set ro

[2015-05-08 08:36] jperrin commented on #25
1. The root password is randomly generated, as default passwords present a security risk.
2. Same as point 1. You're just a few layers deeper.
3. If you need to authenticate as root, I would argue that you're already outside the scope of 'best practices'. You would need to set the password yourself if you wish to have one. This could be done as you suggest, or by replacing the hashed password in /

[2015-05-08 08:36] #25 closed

[2015-05-27 17:39] jperrin commented on #19
I've not intentionally ignored this, but I apologize for the delay in addressing it. Is the dockerfile you linked to still how you would like to see it set up? I'm going to be merging/updating for the next few days.

[2015-05-27 17:54] arun-gupta commented on #19
Yes, https://github.com/arun-gupta/docker-images/blob/master/wildfly-centos/Dockerfile#L47 shows exactly the command to start WildFly.

[2015-05-27 18:48] jperrin commented on #19
In theory this should be updated now. I've changed the repository around so that it's an automated build in the docker index. Once it's built, the change should be in place. If there's anything else you'd like to see, please submit a pull request.

[2015-06-05 08:18] erikced opened #28 "MariaDB / mysqld is stopped with SIGKILL"
mysqld_safe, which is the main process in the MariaDB image, does not forward SIGTERM to mysqld, forcing docker to kill it and its children (including mysqld) with SIGKILL, i.e. without giving mysqld a chance perform a clean shutdown.
The official Docker MariaDB  image calls mysqld directly instead of mysqld_safe and avoids this issue.

[2015-06-05 15:26] jperrin commented on #28
Which are you referring to? https://github.com/dockerfile/mariadb/blob/master/Dockerfile

this calls mysqld_safe as well.

[2015-06-06 10:07] erikced commented on #28
https://github.com/docker-library/mariadb/blob/471e5cbdea21c3b080809ba3376990b12cf4da05/5.5/Dockerfile (referred to from https://registry.hub.docker.com/u/library/mariadb/)

[2015-06-15 08:31] smartinsightsfromdata opened #29 "Docker issue "initctl: Unable to connect to Upstart: Failed to connect to socket /com/ubuntu/upstart""
Please note I've posted a similar issue on this in SO [here](http://stackoverflow.com/questions/30824484/dockerfile-for-rstudio-on-centos-unable-to-connect-to-upstart-how-to-create-a).

I understand that docker prevents centos to use the standard initctl and that this is done to follow the approach to have "simple" services per docker.  Unfortunately it is not always so simple and it would be more

[2015-06-26 15:44] jperrin commented on #29
upstart doesn't run in the 6 container by default, and is not available at all in the 7 container. We don't have an R or rstudio Dockerfile published, so I have no idea what you're doing, or where the problem might be.

you'll need to provide more information if you'd like help.

[2015-07-24 15:23] MatthewGM opened #30 "freeipa/centos7 Dockerfile out of date"
Thanks for providing these!
The latest centos7 has replaced fakesystemd.  I had to apply the following to get it to work:
[code]

(I'm relatively new to github, so I'm not sure if/how patches are submitted here, sorry)

[2015-07-25 18:00] jperrin commented on #30
You can freely submit a patch here, yes. If not I'll fix this soon when I'm not on airport wireless. Thanks for posting.

[2015-08-24 17:26] tspicer opened #31 "CROND fails to run schedules due to PAM"
In the default setup CROND will not run even with cronie installed and the process is running. This seems to be an issue with PAM. In "/etc/pamd.d/crond" the line "session    required   pam_loginuid.so" is causing CROND to fail.  The only solution that seemed to work was the following:

RUN sed -i '/session    required   pam_loginuid.so/d' /etc/pamd.d/crond

Once removed or commented out everythin

[2015-08-25 14:19] jperrin commented on #31
This is more of a distribution/packaging issue than a container issue. I would recommend filing this as an upstream bug at bugzilla.redhat.com.

[2015-08-26 22:17] tspicer commented on #31
Ok, the issue only occurs in the container, not when running on a CentOS 7 host. Is that still something that needs to be reported upstream?

[2015-08-26 23:38] jperrin commented on #31
Please, because the package contents is the same for the OS and the containers. Since the package isn't in the container by default, there isn't anything we can do short of posting your workaround as a faq.

[2015-10-14 01:45] thefosk opened #33 "Pulling CentOS 7 will actually pull CentOS 6.x"
[code]

I am pretty sure a month ago or so it was working fine.

[2015-10-14 12:42] jperrin commented on #33
This appears to be a caching issue on the docker side. You can see from  https://github.com/docker-library/official-images/blob/master/library/centos that the hashes for 7, and latest are the same, and so a pull should fetch the same images. I also saw what you did,

[code]

However a docker pull centos:7 claims an update, though nothing new was downloaded. This means it used an existing layer I a

[2015-10-14 12:42] #33 closed

[2015-11-26 10:22] phanect opened #35 "Add all Dockerfiles to Docker Hub"
I found some Dockerfiles, such as centos 6 version of httpd, are not available on Docker Hub.
I appreciate if I could just write `FROM centos/httpd:centos6` in my Dockerfile and use it.

[2015-12-14 11:37] rtnpro opened #36 "Inconsistency in env variables between upstream postgres image and centos one"
It seems that ``centos/postgresql-94-centos7`` container uses different but similar environment variables in contrast to upsteam ``postgres`` container. This prohibits using ``centos/postgresql-94-centos7`` in application images depending on official ``postgres`` container image, e.g.. ``sentry``, without customizing them.

We could use the same nomenclature for the environment variables in the ce

[2015-12-14 11:37] rtnpro commented on #36
@kbsingh what do you think?

[2015-12-15 14:11] jperrin commented on #36
Do you have a patchset we could adopt to be compliant with what is expected?

[2015-12-15 14:14] rtnpro commented on #36
@jperrin I will work on a patch for the fix and send a PR :)

[2016-01-13 16:07] xrow opened #40 "Feature: Systemd image"
Hi,

I wanted to propose/add a systemd image, but I do not know if this is desired or not. Do you want me to create a pull for it?

https://github.com/xrowgmbh/docker-systemd/blob/master/Dockerfile

[2016-01-13 16:19] jperrin commented on #40
I would be fine with a pull request for this, but some tweaks would be required to the one you linked to.

systemd-container is no longer present. systemd is in the base container natively now, just inactive.

Similarly most of your installed packages would need to be removed. epel-release, ansible, etc. the systemd container should be as close to the bare base container as possible, with the exce

[2016-02-01 14:25] jdelobel opened #44 "ADD EXTENTIOn"
Is-it possible to create a container with an EXTENSION (like DB_USER or DB_PASS)?

Example:
docker run ..... -e 'DB_USER=myUser'  -e EXTENSION='citext'

[2016-02-25 14:05] rmelick opened #46 "Docker registry builds are failing for httpd"
Builds of centos/httpd are failing since at least 2015-12-28.

https://hub.docker.com/r/centos/httpd/builds/

Looking at the most recent failure, it seems there are issues with updating httpd
https://hub.docker.com/r/centos/httpd/builds/bmjn5nzj2xv683uoem6mckr/

[code]

It seems like this could be related to the issue opened with the docker team: https://github.com/docker/docker/issues/6980

[2016-02-26 13:58] guiyomh commented on #46
:+1: same bug

[2016-02-26 14:58] jperrin commented on #46
This is a docker hub issue with a change in their back-end. There's nothing we can do about this. Their backend no longer allows the cap_set_file priv for some reason, which httpd needs when doing the install.

[2016-03-15 03:36] macropin commented on #46
Our builds are failing too. https://hub.docker.com/r/panubo/php-apache-c7/builds/.

[2016-03-28 07:10] mohammedzee1000 opened #49 "Add the dockerfiles information to the cccp index and insert cccp.yaml files."
From @mohammedzee1000
We need to run these docker files through the current CCCP buildsystem so as the test its functionality. For this, we need to add cccp.yaml files (along with some scripts) to to respective dockerfile folders and add them to the cccp-index so that the cccp build system can run the built-test-delivery cycle on them and produce containers for the same, thereby testing the functi

[2016-03-29 01:24] mohammedzee1000 commented on #49
As things stands, there are two fields in https://github.com/kbsingh/cccp-index/blob/master/index.yml that govern the final repository name.

- app-id
- job-id

Given these two values, the final container repository will have the name [app-id]-[job-id]/[job-id]. For example if **app-id: centos** and **job-id: c7-httpd** then final repository will be **centos-c7-httpd/c7-httpd**.

Considering this,

[2016-04-08 12:28] tnozicka opened #52 "centos/registry:2 image is missing on Docker Hub"
centos/registry:2 is missing on Docker Hub.

@jperrin
You merged PR #47 which stated:

but this image is missing on Docker Hub.

Please set up this automated build.

Thanks.

[2016-04-08 12:42] jperrin commented on #52
ack, yeah. got distracted. I'll correct that now.

[2016-04-08 13:52] jperrin commented on #52
Closing this one, as it's up on the hub now -> https://hub.docker.com/r/centos/registry/

[2016-04-08 13:52] #52 closed

[2016-04-08 20:29] nalipaz opened #53 "MariaDB: Import sql files in a specific directory"
I would like to request that the MariaDB image be setup to allow importing sql files that are placed in a given directory. The latest version of the official mysql docker image currently allows importing data on startup. Details of how they are doing it can be seen here:

https://github.com/docker-library/mysql/blob/5b1a6a2b50efceac44579df0936facfee654a805/5.7/docker-entrypoint.sh#L96

[2016-04-08 20:31] jperrin commented on #53
I'm certainly open to considering this if you're willing to patch it.

[2016-04-08 20:32] jperrin commented on #53
@dustymabe thoughts/comments?

[2016-04-08 22:08] nalipaz commented on #53
I have opened a PR for this feature so I am closing this in favor of the PR.

[2016-04-08 22:08] #53 closed

[2016-04-13 12:28] mohammedzee1000 opened #56 "We need to create dockerfiles for cockpit."
By @mohammedzee1000

We are missing dockerfiles for cockpit based on centos, which multiple projects such as the atomic registry make use of (https://github.com/cockpituous/cockpit/tree/master/containers/kubernetes). It would be good if the same were added.

[2016-04-13 19:08] mateor opened #58 "Multiple LABEL layers when one would do."
Most (all?) of the Dockerfiles in this repo define multiple `LABEL` layers. But instead of combining them into one layer, each LABEL has its own layer.

      LABEL License=GPLv2
      LABEL Vendor=CentOS

instead of

      LABEL License=GPLv2, Vendor=CentOS

This creates two layers when one will do. This is generally considered an inefficient image and is [discouraged in the Docker docs](https://

[2016-04-19 14:58] goern commented on #58
@mateor would you like to have a look at that or shall we simple not merge any PR that does not also fix what you mentioned? ;)

[2016-04-19 14:59] goern commented on #36
@rtnpro ping

[2016-04-19 15:05] goern commented on #44
Could you describe a little bit more in detail what you are looking for? What the behavior should be?

[2016-04-19 15:06] goern commented on #40
@xrow Björn is this still in progress?

[2016-04-19 15:09] mateor commented on #58
Sure, I can submit a patch. I wanted to ask first.

The reason I started looking at this was because of the Centos7 base - but I couldn't find those. Can you point me to them - I would like to patch those as well.

[2016-04-19 15:13] goern commented on #58
sure, its over here> https://github.com/CentOS/sig-cloud-instance-images/blob/CentOS-7.2.1511/docker/Dockerfile

[2016-04-19 15:13] mateor commented on #58
ah ha. Thanks. I will put together some patches.

[2016-04-19 15:16] jperrin commented on #58
We've actually updated this in the ```latest``` and ```7``` tags. The https://github.com/CentOS/sig-cloud-instance-images/blob/CentOS-7/docker/Dockerfile has adjusted this. Would it meet your needs the way it's set up?

[2016-04-19 15:19] mateor commented on #58
hey, look at that. Great! Looks fine to me, thanks for doing that.

[2016-04-19 15:20] jperrin commented on #58
The downside is we don't update the minor point-release tags like 7.2.1511, or 6.7. The expectation with users/consumers is that those don't change or get updates. They're static images for better or worse.

[2016-04-19 15:21] rtnpro commented on #36
@goern This got fixed in https://github.com/CentOS/CentOS-Dockerfiles/pull/37. Closing this issue.

[2016-04-19 15:21] #36 closed

[2016-04-19 15:32] mateor commented on #58
Yes, I think that is a good and fair contract. This will make a difference to anyone consuming the new images though, so I am glad to see the change.

How does the merge process work for this repo? Should the pull request be per-subproject?

[2016-04-20 08:08] xrow commented on #40
There is a docker hub blocker https://github.com/docker/hub-feedback/issues/461 . Unless they fix this I can`t proceed. Plus by not fixing such an important issue for CentOS users they show how unreliable docker is.

[2016-04-21 12:28] mohammedzee1000 commented on #56
Please check PR #57 for partial fulfillment of this goal. There is more that needs to be done. Built image of this available at docker hub as mohammedzee1000/centos-cockpit-kubernetes

[2016-05-02 08:03] mohammedzee1000 opened #63 "We need to create dockerfiles for CentOS Atomic Registry based completely on CentOS."
We need an atomic registry which runs completely off centos instead of the original which uses some bits of fedora 23.

[2016-05-19 13:45] xrow commented on #40
I have added now this pull request. Does it need more love?

https://github.com/CentOS/CentOS-Dockerfiles/pull/69

[2016-05-22 02:25] nalipaz opened #70 "How to add EnvironmentFile directive to httpd?"
I asked this on stackoverflow, but since this is the image I am using and it doesn't yet seem to be documented I thought I might ask here.
http://stackoverflow.com/questions/37366257/how-to-add-environmentfile-directive-to-systemctl-using-docker-with-centos7-http

Basically I am doing:
[code]

Yet my environment variables are not available. Any ideas? Is this a feature opportunity? Will I need to

[2016-05-23 17:01] jperrin commented on #70
The default setup for this container doesn't use systemd, so the file would never be used. You would need to fork and edit the Dockerfile so that systemd is used to initialize the container rather than the entrypoint script. You would need to do something along the lines of the following rough pseudo-code

[code]
Note that by using systemd, you'll have to mount the host's cgroups volume into the c

[2016-05-30 13:23] justincormack commented on #46
This should be resolved now see https://github.com/docker/hub-feedback/issues/461

[2016-05-30 23:22] macropin commented on #46
Please trigger a build of the image.

[2016-05-31 13:14] jperrin commented on #46
Done. It appears to have built successfully. Closing this one, finally.

[2016-05-31 13:14] #46 closed

[2016-07-19 20:47] dustymabe opened #74 "Update wordpress example and publish to docker hub"
The wordpress example needs to be updated (should probably not use supervisord, etc).

Can we get it updated and then start publishing it on docker hub?

I just realized we weren't using the centos based image in our Atomic App: https://github.com/projectatomic/nulecule-library/blob/master/wordpress-centos7-atomicapp/Nulecule#L23

[2016-07-20 13:05] jperrin commented on #74
I'm happy to update it, but I'd defer to you on 'best practice' for the container. If you want to submit a pull request for an updated version, I'm happy to merge it in and auto-build it

[2016-07-21 07:03] surajssd opened #75 "httpd doc should talk about the usage"
README on[ dockerfiles-centos-httpd](https://github.com/CentOS/CentOS-Dockerfiles/tree/master/httpd/centos7) talks more about how to build your own container, but it should focus more on using the [pre-built container image](https://hub.docker.com/r/centos/httpd/) available on docker hub. Similar to [official httpd repo](https://hub.docker.com/_/httpd/) on docker hub.

[2016-07-21 10:00] kbsingh commented on #75
I think it might be fine to also mention the 'atomic run httpd' scenario - but we dont really want to link it to docker hub, there might be multiple build and target sources depending on deployment setups.

Orthogonally, I think its a good goal to also have a centos linux based build available for the official apache httpd content at https://hub.docker.com/_/httpd/

[2016-07-21 10:00] kbsingh commented on #75
I think it might be fine to also mention the 'atomic run httpd' scenario - but we dont really want to link it to docker hub, there might be multiple build and target sources depending on deployment setups.

Orthogonally, I think its a good goal to also have a centos linux based build available for the official apache httpd content at https://hub.docker.com/_/httpd/

[2016-07-26 14:51] surajssd commented on #74
So this container has `mariadb` installed in it, so I would suggest to make it wordpress only and expect user to populate some environment variables, similar to canonical wordpress example: https://hub.docker.com/_/wordpress/

Let user of this docker image populate database.

cc: @abhi1004 @containscafeine

[2016-08-05 08:52] yukihane opened #77 "typo: postgres - centos7 environment variable"
README.md is not updated with 133418fdcc957feba287b6f875ac61852a1827d2 change.

[2016-08-11 19:40] thesteve0 opened #79 "HTTPD does not need to run as root"
Hey all:
There is no reason for HTTPD docker image to run as root. I am working on building one that does not need root - so it will also run in OpenShift. Let me know if you want me to do PR on it.
Thanks
Steve

[2016-08-11 19:42] jperrin commented on #79
yes please. happy to merge it in when you have it ready.

[2016-08-12 04:48] thesteve0 commented on #79
Is it ok if we start the container to use 8080 rather than 80? I think this means we would need to copy in a httpd.conf

[2016-08-12 12:41] jperrin commented on #79
On the face of it, I don't think this is a good idea. 80's pretty well established as http, and 8080 as tomcat. I don't see other example containers for httpd running on ports other than 80, so there's an expectation that's where we'd have it as well.

[2016-08-14 21:47] thesteve0 commented on #79
Hey Jperrin:
Here is the repo where I built my non-root, volume using HTTPD image. Do you want to review before I actually think about doing a merge

https://github.com/thesteve0/myDockerImages/tree/master/simpleNRVol

[2016-08-15 13:47] jperrin commented on #79
The run section of the readme should reference 8080 instead of 80, since we're changing the exposed port.

@dustymabe Any comments here?

[2016-08-15 14:45] dustymabe commented on #79
I would say open up a PR and we can make comments there.

[2016-09-20 08:53] #49 closed

[2016-09-23 18:18] #79 closed

[2016-10-05 07:12] mohammedzee1000 opened #88 "Earthquake container does not build correctly."
While attempting to build the earthquake/centos7 container for the purpose of adding it to the Container Pipeline, i found that the earthquake container does not build. It fails out at step 5 during a build.

Command :
`$ docker build -t earthquake:centos7 .`

Result :

[code]

[2016-10-05 08:13] mohammedzee1000 opened #89 "Couchdb container does not build correctly"
While attempting to build the couchdb container on centos 7 for container pipeline, i found that this containers fails build.

Command:

`$ docker build -t couchdb:centos7 .`

Output:

[code]

[2016-10-05 09:42] mohammedzee1000 opened #90 "Nginx container does not work as expected."
I was building and testing the nginx container for the purpose of building on container pipeline. The nginx/centos7 container builds, but does not seem to work as expected. The container was built locally with docker build

Command:

`$ docker run -d -p 80:80 nginx:centos7`
`$ curl http://localhost `

Output :

`curl: (56) Recv failure: Connection reset by peer`

docker logs :

[code]

[2016-10-05 10:06] mohammedzee1000 opened #91 "No centos7 containers for mysql, mysql55 and nodejs."
We dont have centos7 based containers for mysql, mysql55 and nodejs.

[2016-10-11 14:15] #74 closed

[2016-10-14 09:07] mohammedzee1000 commented on #88
@jperrin ping

[2016-10-14 09:07] mohammedzee1000 commented on #91
@jperrin ping

[2016-10-14 09:07] mohammedzee1000 commented on #90
@jperrin ping

[2016-10-14 09:08] mohammedzee1000 commented on #89
@jperrin ping

[2016-10-14 12:48] jperrin commented on #91
centos 7 doesn't have mysql, but mariadb instead, so that's expected. I'm open to pull requests for the others. There are some software collections packages that were being pushed by the SCL folks. Some are not automated though. I'll reach out to them to see about getting them to work with you for the containers

[2016-10-14 14:10] jperrin commented on #90
This appears to be a combination of things.

The documentation is wrong, and the container listens on 8080, which is a change requested by the OpenShift folks. I'll see about correcting the documentation.

[2016-10-14 14:16] jperrin commented on #90
Fixed documentation.

[2016-10-14 14:16] #90 closed

[2016-10-14 17:03] jperrin commented on #89
This package was dropped from EPEL. https://admin.fedoraproject.org/pkgdb/package/rpms/couchdb/ We can either update the dockerfile to install it a different way, or we can remove it as expired. are you willing to submit a patch for an update?

[2016-10-17 06:29] mohammedzee1000 commented on #89
Hmm sure, i will look into it.

[2016-10-17 10:45] mohammedzee1000 commented on #89
I new have a functional container for couchdb on centos 7.

[2016-10-19 07:27] mohammedzee1000 commented on #88
@jimperrin what about this container?

[2016-10-19 11:52] surajssd opened #99 "centos/etherpad broken with incompatible versions"
So the centos/etherpad image errors out as

[code]

Recreate issue as

[code]

env file

[code]

run as

[code]

See error above `etherpad_1  | You're running a wrong version of node, or io.js is not installed. You're using v6.7.0, we need v0.10.x, v0.11.x or v0.12.x`

[2016-10-19 11:53] surajssd commented on #99
### versions
[code]

[code]

[code]

[2016-10-19 16:09] dustymabe commented on #99
i'll look into this

[2016-10-20 11:06] surajssd commented on #99
@dustymabe thanks :)

[2016-11-02 03:42] surajssd commented on #99
@dustymabe any progress on this?

[2016-11-02 09:14] mohammedzee1000 commented on #89
We have a buildable couchdb container now.

[2016-11-02 09:14] #89 closed

[2016-11-07 06:55] mohammedzee1000 commented on #88
ping @jperrin

[2016-11-10 09:38] jperrin commented on #88
It looks like there's a dep issue, where this new gem wants ruby 2.2.2 or newer. I'll see about how we might work around this

[2016-11-10 09:50] aairey commented on #88
The [earthquake](https://rubygems.org/gems/earthquake/versions/1.0.2) depends on activesupport >= 0.

[activesupport 5.0.1](https://rubygems.org/gems/activesupport/versions/5.0.0.1) depends on ruby >= 2.2.2

But I bet earthquake works with [activesupport 4.2.7.1](https://rubygems.org/gems/activesupport/versions/4.2.7.1) too if you install that specific gem version first.

**TL;DR** The required ve

[2016-11-10 09:52] jperrin commented on #88
Correct. It works specifying 4.2.7.1, so I'll push a commit for that shortly

[2016-11-10 09:56] jperrin commented on #88
Updated in the last commit, closing.

[2016-11-10 09:56] #88 closed

[2016-11-10 10:19] #99 closed

[2016-11-21 08:05] surajssd opened #105 "centos/etherpad container when boots up pulls node dependencies"
$subject, so this should happen on container build time but this is happening on each container boot. Following are the logs that can help:

<details>

[code]
</details>

[2016-11-22 07:00] surajssd opened #106 "centos based celery image"
We don't have celery image based on CentOS.

[2016-12-21 15:19] Syffs opened #112 "centos/systemd with chef-solo"
Trying to setup a Docker image based on centos/systemd, chef faces the below error on any systemctl command:
[code]
I'm building the image following this [example](https://github.com/xrowgmbh/docker-systemd-example-httpd)

[2017-01-04 13:09] jperrin commented on #106
Sorry for the delayed response on this one. Please feel free to submit a pull request and add one. I'll review and merge.

[2017-01-08 20:25] borromeotlhs commented on #7
Chilling effect this stuff would have if this distribution ever wanted a commercial partnership with canonical as the baseline docker image, no?  Couldn't people then ask for the source of a closed source application that perhaps was resident on an image they'd ship?  Or, would the GPL v2 only apply to the Dockerfile?

In any case, I get hesitant at the point at which this sort of thing happens at

[2017-01-17 09:08] mohammedzee1000 opened #115 "Freeipa centos 7 build broken"
Hi,

 It appears the builds for freeipa container on centos 7 are broken. Faced error on pipeline, validated with local build.

[code]

[2017-01-17 13:35] surajssd opened #116 "rabbitmq fails in OpenShift on permission issues"
this container image `registry.centos.org/centos/rabbitmq` is not built to be suitably run on OpenShift. It fails as shown below:

[code]

The configs used to run this on openshift are as follows:

[code]

and

[code]

and the openshift version:

[code]

[2017-01-17 13:55] scara commented on #116
Mostly because of OpenShift runs the container with a random user (uid) with fixed gid (`0`) and `HOME=/`.

[2017-01-18 06:57] mohammedzee1000 commented on #116
Maybe doing a chgrp -R 0 and chmod -R ug+rw for /var/lib/rabbitmq and /etc/rabbitmq may get it to work
@scara

[2017-01-18 08:14] mohammedzee1000 commented on #116
I believe the sclorg guys have gotten a number of containers to be able to run on openshift such as https://github.com/sclorg/postgresql-container
ping @hhorak

[2017-01-18 10:05] scara commented on #116
@mohammedzee1000, yes it should work but depending on the original package `nss_wrapper` could be required too.
Theory in https://docs.openshift.com/enterprise/3.1/creating_images/guidelines.html#use-uid.

[2017-01-18 13:45] mohammedzee1000 commented on #116
All right did some circus with the nss_wrapper but now i am facing this error
Here is where i am working on it https://github.com/mohammedzee1000/CentOS-Dockerfiles/tree/2017-01-18_12-14-12-rabbitmq_openshift/rabbitmq/centos7

[code]

[2017-01-18 15:35] mohammedzee1000 commented on #116
Ok found the issue. Inspite of me forcing the users home directory in the passwd.template, it still shows $HOME as /

[2017-01-18 15:39] scara commented on #116
Try to define it by exporting the new value e.g. https://github.com/sclorg/postgresql-container/commit/1916d06fab2f4e04c7511beaa17c7d6480a0d4d3#diff-9ec6b0d09f3886cdcc98deededdfced8R4.

[2017-01-18 15:55] mohammedzee1000 commented on #116
@scara you are welcome to validate my first work with nss_wrapper :)

[2017-01-18 15:56] scara commented on #116
Yeah 😃!
Great work 👍.

[2017-01-21 03:00] containscafeine commented on #116
Okay, so #118 does not fix this for me.

After some hours of confusion, I found out that the newer image resulting from #118 worked with `oc new-app` because in the newer Dockerfile `VOLUME /var/lib/rabbitmq
` is specified, and `oc new-app` detects that there is a volume declared by the image, and hence creates a host volume on that pod.

[code]

And due to this volume mount, the permissions are a

[2017-01-23 07:29] mohammedzee1000 commented on #116
Thanks, i will see what i can do. The issue seems to be with /var/lib/rabbitmq, and not the other directories.
Also, the only directory that should ideally be shared is /var/lib/rabbitmq as that is where the data is dumped by rabbitmq afaik

[2017-01-23 08:32] mohammedzee1000 commented on #116
Container updated. It appears the volume mount was playing the havoc, removed in https://github.com/CentOS/CentOS-Dockerfiles/pull/120

Tested as working

[code]

[2017-02-17 23:04] nivaldogmelo commented on #112
Running that with nginx gives me the same error

[2017-02-19 14:11] rhcarvalho opened #124 "centos/systemd: provide stable tags to released versions"
Currently the only tag for https://hub.docker.com/r/centos/systemd/ is `:latest`. For people depending on this base image, it is [considered good practice](https://github.com/projectatomic/dockerfile_lint#rule-attributes) to depend on a stable version / tag.

E.g., it should be possible to write:

[code]

That would ensure that the image is always build from a version of CentOS 7, and not CentOS 8

[2017-04-07 09:57] mohammedzee1000 opened #131 "Elastic search 5.x container for openshift"
It would be really useful to have a n openshift ready elastic search 5.x container on centos.

[2017-04-11 05:59] mohammedzee1000 commented on #131
I will be working on this. Until sysctl issue is fixed, we can try with older version(2.4.0) as it is acceptable for now

[2017-04-14 16:28] liuweitx opened #134 "A problem with docker run centos/systemd :it halts after [ OK ] Reached target Multi-User System."
I pulled image centos/systemd ,and use command : docker run --privileged --name base -ti -v /sys/fs/cgroup:/sys/fs/cgroup:ro centos/systemd,but it halted after [ OK ] Reached target Multi-User System. it did not go on

I use Virtualbox to create a CentOS 7.3.1611 on a Mac ,here is more infos :
[root@localhost docker]# docker version
Client:
Version: 17.03.1-ce
API version: 1.27
Go version: go1.7.5

[2017-04-16 20:11] mianasbat opened #135 "new mongodb version bind problem"
I used your Dockerfile to get the container, I followed the readme to run the container but I am unable to connect to mongo. The reason is probably related to binding. Here is the link where the problem is discussed http://stackoverflow.com/questions/17588876/mongodb-conf-bind-ip-127-0-0-1-does-not-work-but-0-0-0-0-works

[2017-04-19 11:59] alwinmark commented on #112
The same here with sshd which is used by puppet/beaker

[2017-04-26 06:55] davidstack opened #137 "centos/systemd conateiner:container attach websocker failed"
run container with this command
`docker run  -itd --privileged -e "container=docker" -v /sys/fs/cgroup:/sys/fs/cgroup:ro centos/systemd:latest  /usr/sbin/init`

when we use websocket to attach this container ,we can not see the stdin
![image](https://cloud.githubusercontent.com/assets/5036200/25421542/f686f6ac-2a8f-11e7-9569-3c3fc76a150e.png)

if i start the getty.target service in this container,

[2017-04-27 07:22] davidstack commented on #137
solve this problem
in file /usr/lib/systemd/system-preset/90-default.preset  add # before   enable getty@tty1.service
`#enable getty@tty1.service`
rm file  /usr/lib/systemd/system/getty\@.service

then build this image

[2017-04-27 07:22] #137 closed

[2017-05-18 19:02] cdrage opened #142 "MAINTAINER instruction has been deprecated"
See: https://docs.docker.com/engine/reference/builder/#maintainer-deprecated

Will have to go through each Dockerfile and change to a LABEL

[2017-07-12 05:21] jaymahesh opened #144 "Unable to SSH Localhost from within Docker container on CentOS 7.3"
Hello

I am facing the above problem while trying to SSH on localhost. However it is working fine with Cent OS 6.8.

Can someone point me to the correct resolution pls so that I can continue to use the latest Cent OS 7.x version?

Thanks
Jay Mahalingam

[2017-07-12 05:24] jperrin commented on #144
Can you provide more information, or a dockerfile that can duplicate the problem?

[2017-07-12 05:34] jaymahesh commented on #144
Hi

Thanks for your quick response. I am herewith attaching the Dockerfile that would give you more details.
Also reproduced here (pasted)

****

FROM centos:latest

MAINTAINER XYZ

USER root

RUN yum -y update
RUN yum -y install java-1.8.0-openjdk
RUN yum -y install java-1.8.0-openjdk-devel
RUN yum -y install openssh-clients openssh-server
RUN yum -y install net-tools
RUN yum -y install which
RUN

[2017-08-15 11:20] kumarprd opened #147 "/bin/sh: x11vnc: command not found"
docker build with centos7 throwing error:

Step 8/13 : RUN x11vnc -storepasswd 123456 /.vnc/passwd
 ---> Running in 0c016e4a9de1
/bin/sh: x11vnc: command not found
The command '/bin/sh -c x11vnc -storepasswd 123456 /.vnc/passwd' returned a non-zero code: 127

[2017-08-30 19:23] rchen8 opened #149 "docker-compose for PostgreSQL on Centos 7"
I'm trying to perform the same functionality of `docker run -d -p 5432:5432 --name postgresql <yourname>/postgresql && docker exec -it postgresql psql` using `docker-compose`.

This is my `docker-compose.yml` file:
[code]

Yet when I run `docker-compose up` I get the following error message:
[code]

What am I missing?

[2017-08-31 20:46] #149 closed

[2017-09-04 11:59] antoinetran commented on #124
I can also add that it would be best to mirror the tag list of centos [here](https://hub.docker.com/r/library/centos/tags/). It is good to inherit from centos/systemd:7, it is even better to inherit from centos/systemd:7.3.116 for ex.

[2017-09-06 14:47] gzeronet commented on #124
:+1:

[2017-09-13 07:48] rgarrigue commented on #124
👍  too

[2017-09-16 09:14] hswong3i commented on #124
Recently some of my Travis CI build on centos/systemd:latest failed due to CentOS 7.4 released, where centos/systemd:latest is not yet update and still pointing to CentOS 7.3 version, causing <code>yum -y update</code> timeout with following error message:

This could only be fixed if:

- We manually run command as mentioned in https://hub.docker.com/r/centos/systemd/~/dockerfile/ during .travis.y

[2017-09-16 11:09] hswong3i opened #153 "Trigger Build for CentOS 7.4"
Since CentOS 7.4 recently released (https://lists.centos.org/pipermail/centos-announce/2017-September/022532.html), shall we trigger the build so upgrade all docker images for CentOS 7.4?

[2017-09-19 15:50] TweakySolution commented on #134
I too am hitting this issue - I followed the instructions exactly as described in https://github.com/docker-library/docs/tree/master/centos#systemd-integration

[2017-09-19 17:17] jperrin commented on #134
@TweakySolution what are you expecting to happen? Running a systemd container won't give you a shell, as the entrypoint is systemd instead of bash. It's designed to run daemons launched from systemd. You'd need to enable your service (say httpd) via systemctl commands in the Dockerfile, and then move from there. There's no point to using this container as a standalone.

[2017-09-19 19:31] TweakySolution commented on #134
Thanks @jperrin. I guess I was expecting to see a shell or login prompt.  I need systemd as I have several RPMs that require it, which fail for `Failed to get D-Bus connection: Operation not permitted` when installed.  I believe this is because the RPM fetch and install occurs before systemd is up and running.

I think what I need is for the RPM packages to be loaded after the container is loaded.

[2017-09-19 19:48] jperrin commented on #134
This is one of the areas where containers and vm/bare metal differ.
Dbus in a container is generally done with host volume mounts, though I've seen it done a few different ways. If the host OS is running systemd, then you can do something like `-v /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket` when you *run* the container.

Building the container you should just be able to instal

[2017-11-05 03:30] pubyun commented on #31
i modify /etc/pamd.d/crond and it works.

then it does not work now after i upgrade Centos from 7.3 to 7.4

[2017-11-10 17:04] kbcaulder opened #155 "systemd timers"
Are systemd timers expected to work or should cronie be used?

[2017-11-27 09:36] tty5 opened #159 "firefox:centos7 can't run"
docker ps
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES

docker ps -a
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS                      PORTS               NAMES
22afc34bf738        x/firefox:centos7   "vncserver -fg"     8 minutes ago       Exited (0) 8 minutes ago

[2017-11-29 10:01] rgarrigue commented on #112
I just solved the same kind of issue.

I'm testing ansible role using molecule, including a simple "install ssh and get it started" :

    fatal: [molecule-common-centos7]: FAILED! => {"changed": false, "failed": true, "msg": "Could not find the requested service docker: host"}

This using the "systemd/centos" image. Login to the container trying to get it started manually, I had your

    Failed

[2017-12-05 08:59] jutoft opened #160 "Docker centos/systemd does not update automatically when base container centos:7 is updated"
Would it be possible to have centos/systemd container image build & update automatically when the base container changes (centos:7)?

It's done on docker hub under:
Image -> Build Settings -> Repository links.

[2017-12-06 13:05] xrow commented on #160
This makes much sense. I would do it, but I do not have access.

[2017-12-06 17:55] jperrin commented on #160
It is set that way, but for some reason doesn't seem to be updating. I'll poke at it again to see why it's not working.

[2017-12-10 19:17] MacFlurry opened #161 "establishing connection for user port xxxx to localhost take so much time"
Hello,
I just notice that this step:
`<localhost> ESTABLISH CONNECTION FOR USER: user on PORT 32768 TO localhost`
takes about 10 second

first I took the Dockerfile / start.sh / cccp.yml
I ran it like this:
# build :
`docker build --rm -t krugger/ssh:centos7 .`
`docker run -d -p 22 krugger/ssh:centos7`
[code]

# result:
[code]

as you can see, it took **19.11s user** to respond.
do you have a clue

[2018-01-03 12:38] ezkol opened #162 "postgres/centos7 documentation error"
regarding postgres/centos 7 :

in the README example:

docker run --name postgresql -d \
-e 'DB_USER=username' \
-e 'DB_PASS=ridiculously-complex_password1' \
-e 'DB_NAME=my_database' \
<yourname>/postgresql

the environment variable names are not correct:

the environment variable in the start_postgres.sh are:
DB_NAME=${POSTGRES_DB:-}
DB_USER=${POSTGRES_USER:-}
DB_PASS=${POSTGRES_PASSWORD:-}

[2018-01-11 16:28] jrynyt opened #163 "centos/httpd tag distinct releases"
Only `latest` is tagged for centos/httpd: https://hub.docker.com/r/centos/httpd/tags/

Similar to #124

We believe there was some issue introduced in the most recent build, but now have no option to continue using the previous one.

It would be helpful to version releases so we can upgrade on our own timetable.

[2018-02-28 14:14] containscafeine opened #169 "centos/redis fails to run on OpenShift"
[code]
[code]

[2018-03-14 11:06] coryjamesfisher opened #173 "centos/systemd user session & openssh"
When running the latest centos/systemd docker image with openssh-server running ssh attempts fail with the message:

Apparently the /var/run/nologin file does not get removed when running init.
Using the following I was able to work around the issue:
`systemctl enable systemd-user-sessions.service && ln -s /usr/lib/systemd/system/systemd-user-sessions.service /etc/systemd/system/default.target.wan

[2018-03-14 15:04] jperrin commented on #173
The container does not ship with the /var/run/nologin file. This file is removed from the base container (due to how systemd creates it in the first place). Your work-around seems appropriate for use in your container. The systemd container is not meant to be directly used, but consumed as a base/intermediate container.

[2018-03-14 15:12] coryjamesfisher commented on #173
@jperrin for an image that was not designed to be directly used it works phenomenally for my use case :)
(mirroring of non-production systems for developer/devops use)

[2018-03-14 15:17] jperrin commented on #173
Glad to hear it!

[2018-03-14 15:57] jold opened #174 "Would appreciate the SIG support for Kubernetes 1.9.x"
Is there any chance yet to provide support for Kubernetes 1.9.x Can I help somehow to include this? 1.9 is already stable, do you recognise this version as well stable to integrate with it yet?

Atomic host default version is 1.5.2. it's almost outdated, do you planing to switch this base version to something higher?

I'm referring this link:
https://wiki.centos.org/SpecialInterestGroup/Atomic/Dow

[2018-03-17 12:15] KollegaDe opened #175 "Is it save to replace the pause container in pod-infra-container-image?"
We are setting up a kubernetes 1.5 test environment on Centos 7 (c7 vms with stock extras kube rpms installed, atomic maybe later) and ran into acessibility issues with container registry.access.redhat.com/rhel7/pod-infrastructure:latest. This container seems to require a rhel subscribers client cert which we dont have.

Is it save to substitute this pause image in the kubelet config with pod-infr

[2018-03-23 17:05] AaliMohammed commented on #144
Is there any update on this ? I am facing similar issue.

[2018-03-25 17:37] hlovdal commented on #159
If you run `docker logs` on the container you will see that the problem is related to vnc passwords:

[code]

[2018-04-11 12:59] egee-irl opened #176 "Systemd Enabled Centos image does not work with Packer on TravisCI"
Not exactly sure if this is a Centos, Packer, or TravisCI issue, but I figured I'd start here.

**Summary:**
Despite following the steps to enable systemd in Centos provided by the Centos image page on DockerHub, _and_ also using the pre-enabled systemd image, the "Failed to get D-Bus connection: Operation not permitted" error message is returned.

**Use Case:**
I use Packer & Docker to test my An

[2018-04-11 13:02] egee-irl commented on #176
Here's an example of running Docker in TravisCI with privileged mode on the Centos container with systemd enabled - https://travis-ci.org/egee-irl/devops_challenge/builds/365103605

[2018-05-16 22:32] ninrod opened #177 "provide oficial image for 7.5.1804"
Provide an oficial image for the newest stable version `7.5.1804` as per the [announcement](https://www.centos.org/forums/viewtopic.php?f=9&t=67046&sid=39a8d8cdcfa16443fea32234e960a39e)

[2018-07-17 16:44] ninrod commented on #177
done

[2018-07-17 16:44] #177 closed

[2018-10-10 21:30] rockandska opened #183 "Add tags to the images pushed to dockerhub"
Hi,

Need tags on https://hub.docker.com/r/centos/systemd/ to be able to reuse the same environment in case the dockerfile evolve.

Regards,

[2018-10-23 19:21] TJM opened #184 "docker build --rm"
The README for several of the images says to use `docker build -rm ...` but it needs to be `docker build --rm`

[code]

[2018-11-18 03:32] phaugat7 opened #187 "Centos7 mongo: command not found"
I followed all readme commands, at last I am facing below error:
$ mongo --host localhost --port 32781
bash: mongo: command not found...

Could you please let me know if I am did any mistake or missed any command?

Thanks

[2018-11-21 07:13] rohangoel96 commented on #134
@jperrin @TweakySolution, sorry for re-opening this discussion.
I am also trying to the exact same thing as @TweakySolution after getting the following error

I am also expecting to see a shell to use the centos with systemd enabled. Can anyone of you please help on how to achieve that? Thanks

[2018-11-23 23:49] atodorov opened #188 "centos/nginx images missing on Docker Hub"
I did find nginx images on Docker Hub which claim to be S2I images for usage in OpenShift and not like the one built from https://github.com/CentOS/CentOS-Dockerfiles/blob/master/nginx/centos7/Dockerfile.

Do you intend to build and push that to Docker Hub (including updates) or we have to build on our own ?

[2018-12-06 17:05] edsoncelio opened #190 "Refactor the Dockerfiles"
Everyone,
I noticed that many of the dockerfiles are not optimized or [with best practices](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/).
I can contribute to this task (like this #189 ), but I would like to know if  if it is a valid contribution.

Regards,

[2018-12-07 03:50] david-l-riley opened #191 "Package `golang` no longer exists in yum"
When building the centos7 `golang` image, the image builds correctly (because `yum` apparently now skips missed dependencies instead of failing by default), but because `golang` has disappeared from the yum repository, it does not contain any Go packages.

[2018-12-07 08:33] rramacciani commented on #190
Hi,

I've just created a fork (I don't have the permission to open a pull request)  in order to optimize the mongodb/centos7/Dockerfile

Regards

[2018-12-07 11:30] edsoncelio commented on #191
There's a PR open about tha Golang packages installation #192

[2019-01-14 05:03] ringerc opened #193 "Add version tags to the centos/systemd container"
The `centos/systemd` container only has the tag `latest` right now.

This will make things exciting when Centos 8 is released.

I suggest adopting `centos/systemd:7-latest` and `centos/systemd:7.6` tags now, so that when CentOS 8 is released there isn't any major pain for consumers of the image.

[2019-01-31 11:26] maverick85 opened #194 "Docker :: CentOS7 :: Bind9"
[CentOS-Dockerfiles :: Bind9](https://github.com/CentOS/CentOS-Dockerfiles/tree/master/bind/centos7)

I am sorry to open this up like this, but, this hasn't been updated since 2016 and still doesn't support IPv6 ... May I ask for when an update?
Also, does this support dlz w/mariadb(mysql) support?

Thank you.

[2019-03-09 03:38] HCHCHH opened #195 "Change default value of SSLCARevocationCheck to chain for better security?"
In your configuration file, I notice that you do not change the default value of **SSLCARevocationCheck**, which is **none** and disable the certificate revocation list (CRL) checking.

The Http server [official document](https://httpd.apache.org/docs/current/mod/mod_ssl.html#sslcarevocationcheck) recommends to set **SSLCARevocationCheck** to **chain**, for better security. "When set to **chain (r

[2019-03-13 20:37] #195 closed

[2019-04-26 12:38] atodorov commented on #162
Covered by #132

[2019-05-18 09:30] thatsk opened #197 "auditd fail to start in centos systemd container"

[2019-05-18 13:55] thatsk opened #198 "missing kernel paramter"
#bug
https://github.com/moby/moby/issues/30778

[2019-09-24 12:37] skytalemcc opened #200 "docker run , pass ulimit nofile value can not change default nofile value 65536"
today i find one issue :
docker version 1.13
docker run  --ulimit nofile=100000:100000
i use the image  :CentOS-Dockerfiles/systemd/centos7/

i find in this container ,whatever i do or --ulimit nofile=100000:100000    to run this docker .
this docker when i ssh into it ,it still show ulimit -n 65536 。

![image](https://user-images.githubusercontent.com/11361789/65511854-ae648100-df0a-11e9-90f0-029

[2019-09-24 12:40] skytalemcc commented on #200
by the way  , we use the macvlan ,so install sshd hosted by systemd .so we can directly ssh into this docker ip

[2019-09-27 08:25] skytalemcc commented on #200
any update ?

[2019-10-05 00:27] senderic commented on #173
Thanks for showing us this! I had this very problem, glad you posted about it with a solution.

[2019-10-11 20:39] jamshid commented on #173
Thank you @coryjamesfisher! I found this desperately searching for PAM changes in `centos:8` that are causing a mysterious exception in a Java PAM library I use:

https://github.com/kohsuke/libpam4j/issues/25

Turns out centos:8 (unlike centos:7.6.1810 and earlier) has that problematic `/var/run/nologin` file. Removing that file fixes the exception. I searched so hard trying to figure out the caus

[2019-10-16 05:12] jamshid commented on #173
Related:
https://github.com/CentOS/sig-cloud-instance-images/issues/60

[2019-10-20 17:32] kiransharma2016 opened #201 "I am getting this error while running build"
I am getting this error while running build
docker build --rm -t kiran/httpd .

ovl: Error while doing RPMdb copy-up:
[Errno 13] Permission denied: '/var/lib/rpm/.dbenv.lock'
You need to be root to perform this command.

[2019-11-11 21:27] AndybsCTIN opened #202 "centos/mariadb container fails to start"
I've run the docker pull command to get the centos with mariadb image, however when I run the command to create a container from that image the container dosen't seems to work.

First the issue was related to the port 3306 being on use since I already had mysql installed and it was using that port however, after setting it to "inactive" the issue with the port being on use dismissed.

But now , I

[2019-12-10 14:12] #142 closed

[2020-01-07 13:06] Pritij commented on #202
facing the same issue

[2020-01-07 13:40] carylewis commented on #202
I ran the container interactively, and when I tried to run

bash -x /docker-entrypoint.sh mysqld

I got this:

[code]

I hope this helps.

I'm not sure how to add the correct hostname

Also the instructions to run the container like this:

docker run --name=mariadb -d -p 3306:3306 -e MYSQL_ROOT_PASSWORD=password <your name>/mariadb55 true

doesn't make sense, because the docker-entrypoint.sh will

[2020-01-10 09:23] rohitagrawal4u opened #203 "ssh-keygen command in Dockerfile fails while creating Image"
Hi Team, while creating a docker image using this code snippet in m,y Dockerfile, the image creation fails at command: RUN ssh-keygen -t rsa -f /etc/ssh/ssh_host_rsa_key -N ''

/bin/sh: ssh-keygen: command not found
The command '/bin/sh -c ssh-keygen -t rsa -f /etc/ssh/ssh_host_rsa_key -N ''' returned a non-zero code: 127

[2020-04-15 17:57] Wildcarde opened #205 "Centos Systemd use of privileged mode?"
Is there any clear documentation for why we need to use `--privileged` for systemd containers or possibly a more specific set of allowances that should be used instead? I didn't find anything under the  systemd subfolder and there's no wiki to refer to on the topic.

I'm looking to build a small cobbler server so I've got a handful of services to run but none of them in particular require device a

[2020-05-13 15:17] gargworld opened #207 "D-Bus connection error when running systemctl inside container?"
When I run systemctl command inside the container, I get D-Bus connection error
root@3924d7bb5e59 /]# systemctl status httpd
Failed to get D-Bus connection: Operation not permitted

can someone help or suggest what am I doing wrong.

[2020-05-13 15:30] gargworld commented on #205
if there is no one responding to these issues, what is the point of creating this kind of github official page in name of centos.

[2020-07-21 12:29] #153 closed

[2020-07-23 20:33] artpol84 commented on #134
Was there any progress here?
I need this thing as well.

[2020-11-24 17:25] cfelder opened #210 "CentOS 8 systemd image"
Hi.

It would be nice to integrate an official CentOS 8 image with systemd support.

The following repository has already created one

https://github.com/adevur/docker-centos-8

which is based on the official CentOS 7 version

https://github.com/CentOS/CentOS-Dockerfiles/blob/master/systemd/centos7/Dockerfile

[2020-12-15 18:16] ohyisod7hu7 opened #213 "Access denied for CentOS 7.6.1810"
Wenn pulling centos:7.6.1810 I get an access denied since at least today

[code]

`centos:7` or `centos:8` is still working.

[code]

[2020-12-16 13:11] tolland commented on #207
Probably need to start the container privileged

[2021-07-27 05:21] odidev opened #215 "Require image for ARM64 architecture"
Hi Team,

I am trying to use the centos/systemd image on the arm64 platform but it seems it is not available for arm64.

I have successfully built the image using the command docker build -t image_name . on the arm64 platform without making any changes in the Dockerfile.

I have used Travis-CI to build and push the image for both the platforms.

Commit Link - https://github.com/odidev/CentOS-Docke

[2021-12-29 20:02] ghost commented on #134
@artpol84 It's actually a very simple fix.

1. Create the Dockerfile.
2. Populate the docker file with the below fix as detailed here https://hub.docker.com/_/centos
"FROM centos:7
ENV container docker
RUN (cd /lib/systemd/system/sysinit.target.wants/; for i in *; do [ $i == \
systemd-tmpfiles-setup.service ] || rm -f $i; done); \
rm -f /lib/systemd/system/multi-user.target.wants/*;\
rm -f /etc/sy

[2022-05-20 11:47] Pythonov commented on #207
This worked for me:

Dockerfile:

FROM centos/systemd:latest
RUN yum -y install openssh-server openssh-clients
CMD ["/bin/bash", "-c", "/usr/sbin/init"]

Part of docker-compose:
  service_test:
    build:
      dockerfile: service_dockerfile
    cap_add: [NET_ADMIN]
    privileged: true
    container_name: service_test
    hostname: service_test

[2022-08-11 10:47] ghost opened #217 "Does the container support IPv6"
Does the container support IPv6

[2022-10-20 20:31] #210 closed, assigned to nobody